:root {
    --primary-white: #fff;
    --primary-light-grey: #f4f4f4;
    --primary-grey: #ccd1d9;
    --primary-dark-grey: #333;
    --primary-red: #D80F2D;
    --primary-black:#000;
    --primary-grey-hover:#616161;
    --primary-dark: rgb(52,58,64);
    --primary-transparent-black:rgb(0,0,0,0.7);
    --primary-green: #52C264;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--primary-dark-grey);
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.logo {
    width: 125px;
    padding-top: 1%;
}
/* Navbar */
.navbar {
    width: 100%;
    z-index: 2;
    height: 4.5rem;
    background-color: var(--primary-white);
    border-bottom: 1px solid #E7E7E7;
    /* position: sticky;
    top: 0;
    left: 0; */
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .5% 2% 0;
}
.nav-link-left {
    display: flex;
    align-items: center;
}
.nav-link-left > i {
    padding: 0 0 0 7px;
    color: var(--primary-red);
    cursor: pointer;
    transition: scale .3s ease-in;
}
.nav-link-left i:hover {
    transform: scale(1.3);
}
.nav-link-left ul {
    display: flex;
    list-style: none;
}
.nav-item {
    color: var(--primary-dark-grey);
    font-weight: 500;
    letter-spacing: .3px;
    transition: color .3s;
    padding: 1rem;
    font-size: 16px;
}
.nav-item:hover {
    color: var(--primary-red);
}
.line {
    display: inline-block;
    color: var(--primary-dark-grey);

}
.line::after {
    content: " ";
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary-red);
    transition: width .3s;
}
.line:hover::after{
    width: 100%;
} 
.nav-item:focus {
    color: var(--primary-red); 
}
.nav-link-right {
    display: flex;
    align-items: center;
}
.login-btn {
    color: var(--primary-dark-grey);
    font-weight: 500;
    transition: color .3s;
}
.login-btn:hover {
    color: var(--primary-red);
}
.nav-link-right button {
    width: 100px;
    height: 40px;
    border: none;
    background: var(--primary-red);
    color: var(--primary-white);
    font-weight: 500;
    border-radius: 7px;
    margin: 0 1rem;
    font-size: 14px;
    cursor: pointer;
    transition: all .3s;
}
.nav-link-right button:hover {
    /* background: var(--primary-white);
    color: var(--primary-red);
    border: 1.7px solid var(--primary-red); */
    background-color: #F3435D;
}
.nav-lang {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-lang span {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-red);
    padding-right: 7px;
    margin-left: 7px;
   
}

.nav-lang img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.nav-lang i {
    color: var(--primary-red);
}

/* Header css */
.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #F2F2F2 0%, #FFFFFF 52.08%, #EBEBEB 100%);
    display: flex;
    justify-content: space-around;
}
.head-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 6%;
    padding-bottom: 10%;
}
.head-text > h1 {
    font-size: 48px;
    line-height: 64px;
    color: var(--primary-dark-grey);
}
.head-text > p {
    font-size: 20px;
    padding-top: 2%;
    color: var(--primary-grey-hover);
}
.head-text > h1 > span {
    color: var(--primary-red);
}
.head-photo {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.head-photo img {
    padding-top: 2%;
    width: 60%;
} 

/* partners */
.partners-center {
    padding: 1% 6% 0;
}
.partner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* advantages */

.advantages {
    width: 100%;
    height: 90vh;
    padding: 4% 6% 0;
}
.advantages > h2 {
    color: var(--primary-dark-grey);
    width: 65%;
    font-size: 45px;
    letter-spacing: .5px;
}
.advantages > h2 > span {
    color: var(--primary-red);
}
.benefits {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3% 0;
}

.benefit {
    width: 309px;
    height: 320px;
}
.benefit > i {
    font-size: 34px;
    padding: 0 0 4% 0;
}
.benefit > h4 {
    font-size: 20px;
    letter-spacing: .5px;
    padding: 0 0 3% 0;
    color: var(--primary-dark-grey);
}

.adv-text {
    display: flex;
    align-items: baseline;
    padding: 2% 0;
}
.adv-text > i {
  color: var(--primary-green);
  padding-right: 2%;
}
